.btn {
    padding: 0,2rem;
    background-color: none;
}

.btn-primary {
    background-color: white;
    border-color: $knoppen;
    color: $knoppen;
    font-size: 12px;
}

.drinken{
    float: right;
    height: auto;
    width: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 0px;
    width: 0px;
}

.lampjes_aanbod {
    padding-bottom: 20px;
}

.knop_links_mobile{
    float: left;
}

.knop_rechts_mobile{
    float: right;
}

.eerst_tekst{
    padding-top: 20px;
}
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    
     }
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { 

     }
    
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) { 
        .drinken{
            float: right;
            height: auto;
            width: auto;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .tekst_foto{
            padding-top: 120px;
        }

        .tekst_kamer_foto{
            padding-top: 100px;
        }

        .btn {
            padding: 0.375rem 0.75rem;
        }

        .lampjes_aanbod{
            width: 0px;
            height: 0px;
        }
        
        .btn-primary {
            background-color: white;
            border-color: $knoppen;
            color: $knoppen;
            font-size: 16px;
        }

        .knop_links_mobile{
            float: right;
        }
        
        .knop_rechts_mobile{
            float: left;
        }
     }
    
    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) { 
       
    }