// ul.follow_order {
//     align: center;
    
// }
// ul.follow_order li { 
//     width: 7%;
//     padding: 0px;
//     margin: 10px;
//     align-items: center;
// }

ul.follow_order {
    display: flex;
    justify-content: space-between;
}

ul.follow_order li.item_bestel {
    padding: 6px;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-size: 24px;
    font-family : Petit Formal Script;
}
.item_bestel.stap_1 {
    background-image: url(../images/stappen/stap_1.png);
}
.item_bestel.stap_2 {
    background-image: url(../images/stappen/stap_2.png);
}

.item_bestel.stap_3 {
    background-image: url(../images/stappen/stap_3.png);
}

.overzicht{
    border-bottom: solid black 1pt;
}

.vet{
    font-weight: bold;
    font-size: 15px;
}


/* overzicht pagina */
.knop_aanpassen{
    border: none;
    background-color: white;
    color: $titels;
    font-size: 12px;
    float: right;
}
.card{
   position: relative;
   margin-top: 50px;
   border-color: $titels;
   padding-left: 0px;
   padding-right: 0px;
   margin-bottom: 20px;
   
   
}

.card-header{
    background-color: rgba(106, 155, 115, 0.356);
    color: rgb(26, 61, 3);
    text-align: center;
    
}

.list-group-item{
    border-color: $tekst;
}

/* betaalpagina*/
.betaal_keuze{
    margin-left: 20px;
}

.tabel_betaal {
    border: solid black 1px;
}

.input[type=radio] {
    background-color: $titels;
    cursor: pointer;
    height: 16px;
    width: 16px;
    outline: none;
    -webkit-appearance: none;
    &:checked {
        background-color: $knoppen; 
    }

}

// knoppen tijdens het betaalproces, onderaan/

.btn_betaal{
    border: none;
    background-color: white;
    color: $titels;
    font-size: 20px;
    font-family : Petit Formal Script;
    color: $titels;
    color: $knoppen;
}

.custom-control-input{
    background-color: red;
    color: red;
}

.custom-control-indicator{
    top: 1rem;
}
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .item_bestel{ 
        text-align: center;
        font-size: 15pt;
        }
    
        ul.follow_order li { 
            margin: 0px;
        }
    
        .card{
            position: relative;
            margin-top: 50px;
            
         }
    
         ul.follow_order li.item_bestel {
            padding-left: 80px;
            background-size: 60px;
            padding: 35px;
            margin-right: 0px;
        }
    
        .schuiven{
            margin-left: 50px;
           }
    
        .vet{
        font-weight: bold;
        font-size: 18px;
    }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .item_bestel{ 
    text-align: center;
    font-size: 20pt;
    }

    ul.follow_order li { 
        margin: 35px;
    }

    .card{
        position: relative;
        margin-top: 50px;
        margin-left: 180px;
     }

     ul.follow_order li.item_bestel {
        padding-left: 80px;
        background-size: 80px;
        padding:30px;
        margin-right: 10px;
    }

    .schuiven{
        margin-left: 70px;
       }

    .vet{
    font-weight: bold;
    font-size: 30px;
}
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

 }
